@charset "UTF-8";
.header {
    height: 60px;
    width: 100%;
    background-color: #f8f8f8;
}
.wrapper {
    max-width: 327px;
    margin: 0 auto;
    /* background-color: red; */
}
/* ログイン画面タイトル */
.title{
    font-size: 2.2rem;
    margin: 80px auto;
}
/* 入力フォームの装飾 */
.nameAreabg, .passAreabg{
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: auto;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: 600;
}
.nameInput, .passwordInput {
  margin-bottom: 16px;
  width: 93%;
  height: 26px;
}

.errormsg{
	color:red;
	margin: 10px;
}

/* ログインボタン */
.loginButton{
    background-color: #00AF3A;
    border: none;
    width: 95%;
    margin: 10px auto 10px;
    height: 36px;
    border-radius: 3px;
}
.loginButton .loginButtonWord {
    color:#f7f7f7
}

.loginformGest{
	margin-bottom: 10px;
}

/* リンクのデコレーション消す、文字の装飾*/
.loginformGestLink, .loginformUserLink{
	text-decoration: none;
	color: #333;
	
}

    

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    エラーチェック装飾 */

    .alertarea {
        color: red;                             /* 文字色(赤色) */
        background-color: #fee;                 /* 背景色(淡い赤色) */
        background-image: url("alerticon.png"); /* 背景画像(警告アイコンを表示) */
        background-repeat: no-repeat;           /* 背景画像の繰り返しをナシに */
        background-position: 0.35em center;     /* 背景画像の掲載位置(左端から0.35em・上下方向の中央) */
        display: inline-block;                  /* インラインブロック化 */
        border-radius: 0.5em;                   /* 角丸(半径0.5文字分) */
        margin-left: 0.5em;                     /* 外側左端の余白(0.5文字分) */
        padding: 1px 0.5em 1px 32px;            /* 内側の余白(警告アイコンに重ならないよう左端に多めの余白を設ける) */
     }
     /* ▼入力チェック結果でエラーがない場合は非表示にする */
     .alertarea:empty { display: none; }