.wrapper {
    max-width: 324px;
    margin: 0 auto;
}

img {
    margin: 70px auto 0;
    width: 80px;
}

.withdrawalTitle {
    font-size: 2rem;
    margin: 50px;

}


.withdrawalDescription {
    font-size: 1.4rem;
    line-height: 2rem;
}

form {
    margin: 40px auto 30px;
}

form button {
    background-color: #AF2000;
    font-size: 1.6rem;
    border: none;
    border-radius: 3px;
    padding: 4px;
    width: 230px;
    color: #fff;
}

.noSubmit {
    display: inline-block;
    background-color: #00AF3A;
    font-size: 1.6rem;
    border-radius: 3px;
    padding: 8px;
    width: 213px;
    color: #fff;
    text-decoration: none;
}